<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>New note</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h2>Create new note:</h2>

<form th:action="@{/addNote}"
      th:object="${noteForm}" method="POST">
    <p>
        <span>Title:</span>
        <label>
            <input type="text" th:value="${old_title}" id="title" name="title">
        </label>
    </p>
    <p>
        <span style="vertical-align: top">Text:</span>
            <!--<textarea rows="20" cols="80" th:field="*{text}" th:text="${old_title}"></textarea>-->
        <textarea th:text="${old_title}" id="text" name="text" rows="20" cols="80"></textarea>
    </p>
    <div style="display: flex; flex-direction: row; padding-left: 40px">
        <form>
            <input type="submit" value="Create"/>
        </form>

        <form style="margin-left: 14px" th:action="@{/notesList}" th:method="GET" >
            <button>Cancel</button>
        </form>
    </div>
</form>

<br/>

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:#ff0000;font-style:italic;">
    ...
</div>

</body>
</html>