<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{welcome}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<h2 th:text="#{welcome}"></h2>

<div>
    <div style="display: inline-block">
        <form th:action="@{/index}" th:method="get">
            <button>English</button>
            <input type="hidden" name="lang" th:value="en">
        </form>
    </div>
    <div style="display: inline-block">
        <form th:action="@{/index}" th:method="get">
            <button>Русский</button>
            <input type="hidden" name="lang" th:value="ru">
        </form>
    </div>
</div>



<br/>
<a th:href="@{/notesList}" th:text="#{view.notes}"></a>
</body>
</html>