<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{welcome}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<h2 th:text="#{welcome}"></h2>

<div>
    <div style="display: inline-block">
        <form th:action="@{/index}" th:method="get">
            <button>English</button>
            <input type="hidden" name="lang" th:value="en">
        </form>
    </div>
    <div style="display: inline-block">
        <form th:action="@{/index}" th:method="get">
            <button>Русский</button>
            <input type="hidden" name="lang" th:value="ru">
        </form>
    </div>
</div>

<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<!--<div>
&lt;!&ndash;    <c:url value="/j_spring_security_check" var="loginUrl" />&ndash;&gt;
    <form th:object="${loginForm}" th:action="@{/}" method="post">
        <div><label> User Name : <input type="text" name="j_username"/> </label></div>
        <div><label> Password: <input type="password" name="j_password"/> </label></div>
        <div><input type="submit" value="Sign In"/></div>
    </form>
</div>-->

<!--<form th:object="${loginForm}" method="POST">
    <input type="hidden" name="noteID">
    <p>
        <span th:text="#{title}"></span>
        <label>
            <input type="text" id="login" name="title">
        </label>
    </p>
    <p>
        <span style="vertical-align: top" th:text="#{text}"></span>
        <label>
            <input type="text" id="password" name="title">
        </label>
    </p>
    <div style="display: flex; flex-direction: row; padding-left: 60px">
        <form>
            <input type="submit" th:value="#{create}"/>
        </form>
        <form style="margin-left: 14px" th:action="@{/notesList}" th:method="GET">
            <button th:text="#{cancel}"></button>
        </form>
    </div>
</form>-->

<br/>
<a th:href="@{/notesList}" th:text="#{view.notes}"></a>
</body>
</html>