<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Notes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h2>Your notes:</h2>
<a href="addNote">Create new note</a>
<br/><br/>
<div>
    <table border="0">
        <tr>
            <th>Name</th>
            <th>Creation time</th>
            <th>Modification time</th>
        </tr>
        <tr th:each ="note : ${notes}">
            <td th:utext="${note.header}">...</td>
            <td th:utext="${note.creation_time}">...</td>
            <td th:utext="${note.last_change_time}">...</td>
        </tr>
    </table>
</div>
</body>
</html>