<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:each="note : ${notes}" style="display: inline-block">
    <table style="margin-right: 40px">
        <tr>
            <td th:text="#{title}"></td>
            <td th:text="${note.header}"></td>
        </tr>
        <tr>
            <td th:text="#{created}"></td>
            <td th:text="${note.creation_time}"></td>
        </tr>
        <tr>
            <td th:text="#{changed}"></td>
            <td th:text="${note.change_time}"></td>
        </tr>
        <tr>
            <td th:text="#{text}"></td>
            <td th:text="${note.text}"></td>
        </tr>
    </table>
</div>
</body>
</html>